@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
    margin: 0;
    user-select: none;
    font-family: 'Lato', sans-serif;
}

[contenteditable=true] {
    user-select: all;
}

[contenteditable=true]:focus, .header section select:focus {
    outline: none;
}

.d-flex-col {
    flex-wrap: wrap;
}

button, select, label {
    background-color: #161822;
    border-radius: 5px;
    border: none;
    color: #ffffff;
    cursor: pointer;
}

.select::-ms-expand {
    background-color: #6b84ff;
}

button:hover {
    background-color: #ffffff;
    color: #161822;
}

body {
    margin: 0;
    height: 100vh;
    max-height: 100vh;
    overflow: hidden;
    background-color: #b4b8c1;
}

#root, .main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.disabled {
    opacity: 0.7;
    pointer-events: none;
}

.header {
    display: flex;
    flex-direction: column;
    background-color: #122661;
    border-bottom: 1px solid #ffffff;
}

.header nav {
    display: flex;
    background-color: #161822;
    color: #ffffff;
    align-items: center;
    padding-left: 1rem;
}
.header nav p {
    opacity: 0.7;
    font-size: small;
}
.header nav button {
    height: 2rem;
    padding: 0 0.5rem;
    border-radius: 0;
}
.header nav button:nth-child(2) {
    margin-left: auto;
}

.header:has(+ .showing) section > * {
    opacity: 0.4;
    pointer-events: none;
}
.header:has(+ .showing) nav button:nth-child(2) {
    background-color: #ffffff;
    color: #161822;
}

.header > section {
    padding: 0.5rem;
    display: flex;
}

.header > section button, .header > section select, .header > section label {
    width: 2rem;
    height: 2rem;
    margin: 0.1rem;
}

.header > section select {
    width: 4rem;
} 

.header > section > ul {    
    background-color: #161822;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
    height: 4.4rem;
    width: 9.2rem;
    padding: 0.1rem;
    margin: 0.1rem;
}

.header > section > div {
    display: flex;
}

.header > section > hr {
    border: 1px solid white;
    opacity: 0.4;
    margin: 0 0.5rem;
}

.header > section > ul::-webkit-scrollbar {
    border-radius: 5px;
    width: 0.4rem;
}
.header > section > ul::-webkit-scrollbar-thumb {
    background-color: #ffffff;
    border-radius: 5px;
}

.text-editor {
    margin: 2rem;
    padding: 1rem 1.5rem;
    background-color: #ffffff;
    height: 100%;
    overflow-y: scroll;
    position: relative;
    border-radius: 2px;
}

.text-editor::-webkit-scrollbar {
    border-radius: 5px;
    width: 5px;
}
.text-editor::-webkit-scrollbar-thumb {
    background-color: #161822;
    border-radius: 5px;
}

.text-editor p:first-child:last-child:empty::before {
    content: "Write here";
    opacity: 0.5;
    pointer-events: none;
}

.text-editor::after {
    content: attr(data-count);
    pointer-events: none;
    position: fixed;
    bottom: 3rem;
    right: 3rem;
    background-color: #b4b8c1;
    border-radius: 5px;
    padding: 0.5rem;
}

.text-editor > p {
    width: fit-content;
}


/**/


.color-input, .back-input {
    position: relative;
    text-align: center;
}

input[type="color"]::-webkit-color-swatch {
    border-radius: 5px;
    padding: 0;
}

.color-input > input, .back-input > input {
    border: none;
    width: 100%;
    height: 15px;
    padding: 0;
    background: transparent;
    position: absolute;
}

.color-input > input {
    left: 0;
    bottom: 0;
}


.back-input > input {
    height: 100%;
    border-radius: 3px;
    inset: 0;
}

.back-input > p {
    z-index: 1;
    position: absolute;
    inset: 20%;
}

/**/

.pop-back {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.411);
    backdrop-filter: blur(1px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.pop-up {
    width: 75%;
    height: 80%;
    background-color: #161822;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 1rem; 
    color:#ffffff;
}

.pop-up > section {
    display: flex;
    flex-direction: column;
    padding: 0 2rem;
}

.pop-up > h1 {
    padding: 1rem 2rem;
    border-radius: 10px 10px 0 0;
    background-color: #122661;
}

.pop-up ul {
    display: flex;
    flex-direction: column;
    gap: 1rem; 
    padding: 0 1rem;
}

.pop-up ul li {
    display: flex;
    gap: 1rem;
    align-items: center;
    background-color: #323336;
    border-radius: 5px;
    padding: 0.5rem 2rem;
    transition: scale 300ms, opacity 300ms;
    opacity: 0.7;
    justify-content: space-between;
}

.pop-up ul li:hover{
    scale: 1.05;
    opacity: 1;
}